torch                    # PyTorch (avec torchvision pour transforms)
torchvision
torchaudio
ultralytics              # YOLOv8 (officiel ultralytics)
matplotlib               # visualisation (countplots, images)
seaborn
pandas                   # gestion et traitement des données
numpy
scikit-learn             # métriques, split dataset si besoin
opencv-python            # manipulation d’images (blur, noise, lecture)
Pillow                   # gestion images
streamlit                # interface web interactive
tqdm                     # barre de progression pour les boucles
albumentations           # augmentations d’images avancées (blur, noise, flip)
